@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form,
fieldset, legend, img ,input{ margin:0; padding:0; }
input{outline-style:none;}
fieldset, img { border:none;  }
img{ vertical-align: top;}
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","microsoft yahei";}
select, input { vertical-align:middle; }
select, input, textarea { font-size:14px; margin:0; }
textarea { resize:none; }
table { border-collapse:collapse; }
.clearfix:after { content:"."; display:block; height:0;
    visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearitx { clear:both; height:0; font-size:0; overflow:hidden; }
a { color:#666; text-decoration:none; }
a:hover, a:active, a:focus { color:red; }

.f12{ font: 12px "microsoft yahei";}
.f14{ font: 14px "microsoft yahei";}
.f14b{ font:bold 14px "microsoft yahei";}
.border2{ border: 1px solid #f2f2f2;border-bottom: none;}
.indent2{ text-indent: 2em;text-align:justify;}